.list {
  position: relative;
  width: 60%;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
}

.list > div > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  .list {
    margin-left: 2%;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .list {
    width: 85%;
  }

  .list > div {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.603);
    border-radius: 10px;
  }

  .list > div:active {
    border: 5px solid #fff;
    transform: scale(1);
  }
}
